.section {
	width: 100%;
	background-image: url("../img/dentista.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.container {
	padding: 25px;
    width: 62%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 10px;
}

.row {
	display: block;
}
.form-check-inline .form-check-label {
    padding-top: 7px;
}

.col-form-label {
	text-align: -webkit-left;
}

.card-header:first-child {
    border-radius: 25px;
    color: rgb(46, 101, 175);
}

.col-form-label {
	font-size: 1.18rem;
    color: rgb(46, 101, 175);
}

.col-form-legend {
	font-size: 1.18rem;
    color: rgb(46, 101, 175);
}

.col-sm-2 {
	max-width: none;
}

.btn-outline-primary {
    color: rgb(46, 101, 175);
    border-color: rgb(46, 101, 175);
}

.offset-sm-2 {
    margin-left: 0%;
}
.btn {
	margin-right: 15px;
}

.a {
	color: rgb(46, 101, 175);
}
@media screen and (max-width: 762px) {
    .container{
        width: 100%;
        border-radius: 0;
    }
}