#organizadores{
    background-color: #eaebed;
}
#o1{background-image: url("../img/o1.png");}
#o2{background-color: white;
    background-image: url("../img/o2.png");}
#o3{background-color: white;
    background-image: url("../img/o3.png");}
#o4{background-color: white;
    background-image: url("../img/o4.png");}