#palestrantes{
    background-color: #2d7dd2;
}

#p1{background-image: url("../img/palestrante.jpg");}
#p2{background-image: url("../img/palestrante1.jpg");}
#p3{background-image: url("../img/palestrante2.jpg");}
#p4{background-image: url("../img/palestrante3.jpg");}
#p5{background-image: url("../img/palestrante4.jpg");}
#p6{background-image: url("../img/palestrante5.jpg");}
