#patrocinadores{
    background-color: #006494;
}
#pa1{background-color: white;
    background-image: url("../img/pa1.png");}
#pa2{background-color: white;
    background-image: url("../img/pa2.png");}
#pa3{background-color: white;
    background-image: url("../img/pa3.png");}
#pa4{background-color: white;
    background-image: url("../img/pa4.png");}
#pa5{background-color: white;
    background-image: url("../img/pa5.png");}
#pa6{background-color: white;
    background-image: url("../img/pa6.png");}